#menu{
	background: red;
	opacity: 1;
	border-bottom: 1px;
}
.jumbotron .container{
	text-align: center;
}
.jumbotron {
	margin-top: 42px;
	/*background: url('https://farm8.staticflickr.com/7440/12529937283_088eda711b_k.jpg');*/
	background: url(images/cover.jpg) no-repeat center center fixed;
	background-repeat: no-repeat;
	height: 500px;
	background-size: cover;
	box-shadow: 
}
.jumbotron .container h1{
	font-size:  130px;
	color: white;
	text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

.jumbotron .container h2{
	color: white;
	text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

.jumbotron .container .links .row ul{
	display: inline-block;
	padding-top: 70px;
}
.jumbotron .container .links li{
	font-size: 30px;
	color: gray;
	border-radius: 25px;
	border: solid;
	border-width: 2px;
	background-color: transparent;
}

.jumbotron .container .links li a{
	color: white;
}

.jumbotron .blue .active a:hover{
	background-color: blue;
}

#infobox{
	text-align: left;
	width:300px;
	height: 350px;
	background: black;
	color: white;
	margin-left: 50px;
	opacity: 0.7;
}
#infobox h2{

	margin-left: 5px;
	font-weight: 50;
	font-size: 48px;
	height: 40px;
}
#infobox h3{
	margin-left: 8px;
	font-size: 20px;
	height: 20px;
}
#infobox h4{
	margin-left: 8px;
	font-size: 15px;
}
#infobox li .fa{
	padding: 0px;
	font-size: 40px;
}
#infobox .space{
	height: 150px;
}

/*is this even neccessary*/
.Tabs .Content_Area {
	background-color: blue; #D1FFFF;
}

.Tabs {
	background: linear-gradient(#A6A6A6,white);
}

/*.about .container .row{
	background-color: #ebebeb;
}*/

.about .container .row{
	padding-left: 20px;
	padding-right: 20px;
	background-color: #EDEDED;
}
.about .container .row h3{
	height: 30px;
	background-color: transparent;
}

.about .container .row [class*=col] .eco{
	height: 200px;
	background: no-repeat;
	background-image: url(images/leafeye6.png);
	background-size: contain;
	width: auto;
}

.about .container .row [class*=col] .snap{
	height: 200px;
	background: no-repeat;
	background-image: url(images/SnapRoulette.png);
	background-size: contain;
	width: auto;
}

.about .container .row [class*=col] .kinematix{
	height: 200px;
	background: no-repeat;
	background-image: url(images/kinematix.png);
	background-size: contain;
	width: auto;
}

.about .container .row [class*=col] .kinematixicon{
	height: 200px;
	background: no-repeat;

	background-image: url(images/kinematixicon.png);
	background-size: contain;
	width: auto;
}

.resume{
	background-color: #EDEDED;
	width: auto;
}
.resume h2{
	text-align: center;
	background-color: white;
}

.resume .title{
	text-align: center;
}

#resumeinfo{
	padding-left: 200px;
}
#school{
	padding-left: 50px;
}
#courses{
	padding-left: 100px;
	padding-right: 180px;
}

.about .container .spacebetweenabout{
	height: 70px;
	background-color: #EDEDED;
}

.whitespace{
	height: 300px;
}
.copyright {
	text-align: right;
	font-size: 5px;
	padding-right: 50px;
	background-color: #E0E0D1;
	height: 50px;
	padding-top: 20px;
}